<!DOCTYPE html>
{% extends 'adminpage.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="col-12 grid-margin stretch-card">

    <div class="card">


       <div class="card-body">
                  <h4 class="card-title" style="color:black;">MESSAGES</h4>
                  <p class="card-description">

                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                             NAME
                          </th>
                          <th>
                            EMAIL
                          </th>
                          <th>
                            CONTACT NO
                          </th>
                          <th>
                            MESSAGE
                          </th>
                          <th>
                            OPTIONS
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                        <tr>
                          <td class="py-1">
                            {{d.Name}}
                          </td>
                          <td>
                            {{d.Email}}
                          </td>
                          <td>

                             {{d.Number}}

                          </td>
                           <td>

                             {{d.Message}}

                          </td>





                      <form action="{% url 'Delete_contact' dataid=d.id %}">
                      <td>
                      <button type="submit" class="btn btn-danger">DELETE</button>
                      </td>
                        </form>

                        </tr>










                      {% endfor %}





                      </tbody>
                    </table>
                  </div>
                </div>
                </div>
             </div>


</body>
</html>
{% endblock %}